.wrapper{
    background: #bdbdbd; /* สีพื้นหลังการ์ด */
    padding: 1.5rem 5rem 3rem 4rem; /* จัดตำแหน่งคำถาม ซ้าย-ขวา */
    width: 600px; /*ความกว้างการ์ด */
    height: 580px; /*ความสูงการ์ด */
    border-top-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    position: relative;
    box-shadow: 0 4px 6px #9e9e9e/* สีขอบการ์ด*/
  }
  
  .question {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .question-text {
    font-size: 16px;
    margin-bottom: 20px;
    font-size: larger;
  }
  
  .answer {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .answer-button {
      width: 50%;
      padding: 20px;
      margin-bottom: 12px;
      background-color: #e0e0e0;
      border: 1px solid #ccc;
      color: rgb(13, 13, 13);
      border-radius: 5px;
      box-shadow: 3px 3px 2px 1px #424242;
      font-size: larger;
      cursor: pointer;
      justify-content: center;
      text-align :center; /* Add this line to align text to the left */
      position: relative;
  }
  
  .answer-button:active{
    background-color: #757575;
    color: rgb(255, 255, 255);
    transform: translateY(5px);
    outline: none;
  }
  
  .answer-button::selection{
    background-color: #ffffff;
  }
  
  .highlight {
    background-color: #757575;
    color: rgb(255, 255, 255);
  }
  
  .next {
    width: 20%; /* ความกว้าง 20% */
    padding: 20px; /* ขนาดปุ่ม */
    margin-bottom: 12px; /*ระยะขอบ ผลักอัตโนมัติ */
    background-color: #e0e0e0;
    border: 1px solid #ccc; /* ความหนา รูปแบบ สีของขอบ */
    color: rgb(13, 13, 13);
    border-radius: 5px; 
    box-shadow: 3px 3px 2px 1px #424242; /* เงากล่องข้อความ */
    font-size: larger;
    cursor: pointer;
    text-align: center; /* ข้อความ อยู่ตรงกลาง */
    justify-content: center;
  }
  
  .next:hover {
    box-shadow: #424242;
    transform: translateY(5px);
  }
    
  .next:active{
    background-color: #757575;
    color: rgb(255, 255, 255);
    transform: translateY(5px);
    outline: #424242;
  }
  
  @media(max-width: 678px){
    .question{
        font-size: 1.6rem;
    }
    .wrapper{
        margin: 3rem 0;
        width: 90%;
        height: 90%;
        padding: 1.5rem 1rem 3rem 1rem;
        border-top-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .answer-button button{
        font-size: 1rem;
    }
  
    .next {
      font-size: 1rem;
    }
  }
  
  /* โค้ดก่อน @media query */
  
  